name: CI-CD Flask App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build and push  Docker image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker build -t guftgu/devops-flask-app:$IMAGE_TAG .
        docker push guftgu/devops-flask-app:$IMAGE_TAG

    - name: Deploy to Kubernetes
      run: |
        IMAGE_TAG=${{ github.sha }}
        kubectl set image deployment/flask-deployment flask=guftgu/devops-flask-app:$IMAGE_TAG
        kubectl rollout status deployment/flask-deployment
 


